In [48]:
from googleapiclient.discovery import build
import googleapiclient.discovery
import json
import pymongo
import psycopg2
import pandas as pd
import numpy as np
import streamlit as st
from datetime import datetime
import re
from sqlalchemy import Column, Integer, String, TIMESTAMP 
from cryptography.x509 import load_der_x509_certificate
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
from ipykernel import kernelapp as app

In [49]:
# Api key details 
# creating a function for Api_details

def Api_connect():
    api_key = "AIzaSyA4Xkqss0doi6-eIrH6DGhhticzIQPV51w"

    api_service_name = "youtube"
    api_version = "v3"

    youtube = build(api_service_name,api_version,developerKey=api_key)

    return youtube

youtube = Api_connect()

In [50]:
# get channels information
def get_channel_info(channel_id):

    request=youtube.channels().list(
                     part = "snippet,ContentDetails,statistics",
                    id = channel_id
    )
    response=request.execute()

    channel_data = []

    for item in response['items']:
        data = {'Channel_Name':item ['snippet']['title'],
                'Channel_Id':item ['id'],
                'Subscribers':item ['statistics']['subscriberCount'],
                'Views':item ['statistics']['viewCount'],
                'Total_videos':item ['statistics']['videoCount'],
                'Channel_Discription':item ['snippet']['description'],
                'Playlist_Id ':item ['contentDetails']['relatedPlaylists']['uploads']}
        channel_data.append(data)
    
    return data

In [51]:
Channel_details = get_channel_info("UCSXa6jwF7pvL-qVdS1OnytA")

In [52]:
Channel_details

{'Channel_Name': 'Specxy Panda Bakes',
 'Channel_Id': 'UCSXa6jwF7pvL-qVdS1OnytA',
 'Subscribers': '212',
 'Views': '6834',
 'Total_videos': '41',
 'Channel_Discription': 'Trying some baking shaking.',
 'Playlist_Id ': 'UUSXa6jwF7pvL-qVdS1OnytA'}

In [53]:
# getting videos ids

def get_videos_ids(channel_id):
    video_ids=[]
    response = youtube.channels().list(id=channel_id,
                                       part = 'contentDetails').execute()
    Playlist_Id = response['items'][0]['contentDetails']['relatedPlaylists']['uploads']

    next_page_token = None

    while True:
        response1 = youtube.playlistItems().list(
                                            part = 'snippet',
                                            playlistId = Playlist_Id,
                                            maxResults=50,
                                            pageToken = next_page_token).execute()
        for i in range(len(response1['items'])):
            video_ids.append(response1['items'][i]['snippet']['resourceId']['videoId'])
        next_page_token = response1.get('nextPageToken')

        if next_page_token is None:
            break
    return video_ids

In [54]:
Video_ids = get_videos_ids("UCPyrIv-3woyRXZozX_8UjAQ")

In [55]:
Video_ids

['W2BIHF1ywRU',
 '_Ps3G_igyns',
 'pnt246Nti3c',
 'tr_pe1XB-Mc',
 'P7fQgOdmNg8',
 '12GQ74RU2Ko',
 'RS6V5uJv8lU',
 'qeu0FBJyGlQ',
 'M3YdW1FRUFo',
 'gNF4bQxoXkQ',
 'KQbJ9E0XAqc',
 'ETmI1Fg-Lro',
 'aRJA0W5tS-M',
 'ynnozBtLhiE',
 'WDM0KRjkugU',
 'GkDpu4seEFk',
 'yVJ6-WqmaLQ',
 'OjLb1-mAs2g',
 'BO3L39fOeH0',
 'Oo2gKXPwvJk',
 'Strsql7gFCA',
 'KemIiwuBpH0',
 'DSO5sbiS9I8',
 'pHoWD8nY0SE',
 'smrUeQENifQ',
 'YH1OxkAIFns',
 'cpbIsMTYlxM']

In [56]:
# getting video information

def get_video_info(Video_ids):
        video_data = []
        for video_id in Video_ids:
            request = youtube.videos().list(
                    part = "snippet,ContentDetails,statistics",
                    id = video_id
            )
            response = request.execute()
        
            for item in response['items']:
                data = dict(Channel_Name = item['snippet']['channelTitle'],
                            Channel_Id = item['snippet']['channelId'],
                            Video_Id = item['id'],
                            Title = item['snippet']['title'],
                            Tags = item['snippet'].get('tags'),
                            Thumbnail = item['snippet']['thumbnails']['default']['url'],
                            Description = item['snippet'].get('description'),
                            Published_Date = item['snippet']['publishedAt'],
                            Duration = item['contentDetails']['duration'],
                            Views = item['statistics'].get('viewCount'),
                            Comments = item['statistics'].get('CommentCount'), 
                            likes = item['statistics'].get('likeCount'),
                            Favorite_Count = item['statistics']['favoriteCount'],
                            Definition = item['contentDetails']['definition'],
                            Caption_Status = item['contentDetails']['caption'])
                                                                   
                            
                

                
        # # function to convert duration
        # def convert_duration(Duration):
        #     regex = r'PT(\d+H)?(\d+M)?(\d+S)?'
        #     match = re.match(regex, Duration)
        #     if not match:
        #         return '00:00:00'
        #     hours, minutes, seconds = match.groups()
        #     hours = int(hours[:-1]) if hours else 0
        #     minutes = int(minutes[:-1]) if minutes else 0
        #     seconds = int(seconds[:-1]) if seconds else 0
        #     total_seconds = hours * 3600 + minutes * 60 + seconds
        #     return '{:02d}:{:02d}:{:02d}'.format(int(total_seconds / 3600), int((total_seconds % 3600) / 60), int(total_seconds % 60))
        
        
        video_data.append(data)
        return video_data

In [59]:
video_details = get_video_info(Video_ids)

In [60]:
video_details

[{'Channel_Name': '4degreesoffreedom',
  'Channel_Id': 'UCPyrIv-3woyRXZozX_8UjAQ',
  'Video_Id': 'cpbIsMTYlxM',
  'Title': '4 DEGREES OF FREEDOM PHOTO SYNC.wmv',
  'Tags': ['4', 'DEGREES', 'OF', 'FREEDOM', 'PHOTO', 'SYNC'],
  'Thumbnail': 'https://i.ytimg.com/vi/cpbIsMTYlxM/default.jpg',
  'Description': '4 degrees of freedom photo sync',
  'Published_Date': '2012-02-05T07:25:55Z',
  'Duration': 'PT2M47S',
  'Views': '299',
  'Comments': None,
  'likes': '7',
  'Favorite_Count': '0',
  'Definition': 'sd',
  'Caption_Status': 'false'}]

In [61]:
# creat funtion for get the comment information
def get_comment_info(Video_ids):
    comment_data = []
    try:
        for video_id in Video_ids:    
            request = youtube.commentThreads().list(
                        part = 'snippet',
                        videoId =video_id ,                              #','.join(video_ids[i:i+50]),
                        maxResults = 50)
            
            response = request.execute()
            
            for i in range(len(response['items'])):
                    data =dict(
                                Comment_Id = response['items'][0]['snippet']['topLevelComment']['id'],
                                Video_Id = response['items'][0]['snippet']['topLevelComment']['snippet']['videoId'],
                                Comment_text = response['items'][0]['snippet']['topLevelComment']['snippet']['textDisplay'],
                                Comment_author =response['items'][0]['snippet']['topLevelComment']['snippet'],
                                Comment_published = response['items'][0]['snippet']['topLevelComment']['snippet']['publishedAt'])
                    comment_data.append(data)
                
         
    except:
        pass        
    return comment_data

In [62]:
Comment_details = get_comment_info(Video_ids)

In [63]:
Comment_details

[{'Comment_Id': 'UgztXwf0fjljbd6Bztt4AaABAg',
  'Video_Id': 'RS6V5uJv8lU',
  'Comment_text': 'awesome live performance!!!!, 4 degreesoffreedom 4 ever!!!',
  'Comment_author': {'channelId': 'UCPyrIv-3woyRXZozX_8UjAQ',
   'videoId': 'RS6V5uJv8lU',
   'textDisplay': 'awesome live performance!!!!, 4 degreesoffreedom 4 ever!!!',
   'textOriginal': 'awesome live performance!!!!, 4 degreesoffreedom 4 ever!!!',
   'authorDisplayName': '@sunnyalas6044',
   'authorProfileImageUrl': 'https://yt3.ggpht.com/ytc/AIdro_nVlGkRNKWRioKiz4I0Akcuh5A9poa0_NM6rc1944DnsQ=s48-c-k-c0x00ffffff-no-rj',
   'authorChannelUrl': 'http://www.youtube.com/@sunnyalas6044',
   'authorChannelId': {'value': 'UCBbcAf9hXTU1u8C12PQEYUg'},
   'canRate': True,
   'viewerRating': 'none',
   'likeCount': 0,
   'publishedAt': '2013-09-22T21:14:40Z',
   'updatedAt': '1970-01-01T00:00:00Z'},
  'Comment_published': '2013-09-22T21:14:40Z'},
 {'Comment_Id': 'UgwKtxHGiT5MVNhvYtl4AaABAg',
  'Video_Id': 'M3YdW1FRUFo',
  'Comment_text': 'What about us? We Jharkhand Rock Gigs who advertise all these bands??',
  'Comment_author': {'channelId': 'UCPyrIv-3woyRXZozX_8UjAQ',
   'videoId': 'M3YdW1FRUFo',
   'textDisplay': 'What about us? We Jharkhand Rock Gigs who advertise all these bands??',
   'textOriginal': 'What about us? We Jharkhand Rock Gigs who advertise all these bands??',
   'authorDisplayName': '@TarunPaulKachhap',
   'authorProfileImageUrl': 'https://yt3.ggpht.com/ytc/AIdro_lh9CrDmKmVNxVNE5uo0bSC6qOTId6pfY_6AxNis_W02tg=s48-c-k-c0x00ffffff-no-rj',
   'authorChannelUrl': 'http://www.youtube.com/@TarunPaulKachhap',
   'authorChannelId': {'value': 'UC_pXKWaqoDBM9CLcRA6wl5w'},
   'canRate': True,
   'viewerRating': 'none',
   'likeCount': 0,
   'publishedAt': '2013-04-05T02:45:50Z',
   'updatedAt': '1970-01-01T00:00:00Z'},
  'Comment_published': '2013-04-05T02:45:50Z'},
 {'Comment_Id': 'UgwKtxHGiT5MVNhvYtl4AaABAg',
  'Video_Id': 'M3YdW1FRUFo',
  'Comment_text': 'What about us? We Jharkhand Rock Gigs who advertise all these bands??',
  'Comment_author': {'channelId': 'UCPyrIv-3woyRXZozX_8UjAQ',
   'videoId': 'M3YdW1FRUFo',
   'textDisplay': 'What about us? We Jharkhand Rock Gigs who advertise all these bands??',
   'textOriginal': 'What about us? We Jharkhand Rock Gigs who advertise all these bands??',
   'authorDisplayName': '@TarunPaulKachhap',
   'authorProfileImageUrl': 'https://yt3.ggpht.com/ytc/AIdro_lh9CrDmKmVNxVNE5uo0bSC6qOTId6pfY_6AxNis_W02tg=s48-c-k-c0x00ffffff-no-rj',
   'authorChannelUrl': 'http://www.youtube.com/@TarunPaulKachhap',
   'authorChannelId': {'value': 'UC_pXKWaqoDBM9CLcRA6wl5w'},
   'canRate': True,
   'viewerRating': 'none',
   'likeCount': 0,
   'publishedAt': '2013-04-05T02:45:50Z',
   'updatedAt': '1970-01-01T00:00:00Z'},
  'Comment_published': '2013-04-05T02:45:50Z'},
 {'Comment_Id': 'UgwKtxHGiT5MVNhvYtl4AaABAg',
  'Video_Id': 'M3YdW1FRUFo',
  'Comment_text': 'What about us? We Jharkhand Rock Gigs who advertise all these bands??',
  'Comment_author': {'channelId': 'UCPyrIv-3woyRXZozX_8UjAQ',
   'videoId': 'M3YdW1FRUFo',
   'textDisplay': 'What about us? We Jharkhand Rock Gigs who advertise all these bands??',
   'textOriginal': 'What about us? We Jharkhand Rock Gigs who advertise all these bands??',
   'authorDisplayName': '@TarunPaulKachhap',
   'authorProfileImageUrl': 'https://yt3.ggpht.com/ytc/AIdro_lh9CrDmKmVNxVNE5uo0bSC6qOTId6pfY_6AxNis_W02tg=s48-c-k-c0x00ffffff-no-rj',
   'authorChannelUrl': 'http://www.youtube.com/@TarunPaulKachhap',
   'authorChannelId': {'value': 'UC_pXKWaqoDBM9CLcRA6wl5w'},
   'canRate': True,
   'viewerRating': 'none',
   'likeCount': 0,
   'publishedAt': '2013-04-05T02:45:50Z',
   'updatedAt': '1970-01-01T00:00:00Z'},
  'Comment_published': '2013-04-05T02:45:50Z'},
 {'Comment_Id': 'UgwKtxHGiT5MVNhvYtl4AaABAg',
  'Video_Id': 'M3YdW1FRUFo',
  'Comment_text': 'What about us? We Jharkhand Rock Gigs who advertise all these bands??',
  'Comment_author': {'channelId': 'UCPyrIv-3woyRXZozX_8UjAQ',
   'videoId': 'M3YdW1FRUFo',
   'textDisplay': 'What about us? We Jharkhand Rock Gigs who advertise all these bands??',
   'textOriginal': 'What about us? We Jharkhand Rock Gigs who advertise all these bands??',
   'authorDisplayName': '@TarunPaulKachhap',
   'authorProfileImageUrl': 'https://yt3.ggpht.com/ytc/AIdro_lh9CrDmKmVNxVNE5uo0bSC6qOTId6pfY_6AxNis_W02tg=s48-c-k-c0x00ffffff-no-rj',
   'authorChannelUrl': 'http://www.youtube.com/@TarunPaulKachhap',
   'authorChannelId': {'value': 'UC_pXKWaqoDBM9CLcRA6wl5w'},
   'canRate': True,
   'viewerRating': 'none',
   'likeCount': 0,
   'publishedAt': '2013-04-05T02:45:50Z',
   'updatedAt': '1970-01-01T00:00:00Z'},
  'Comment_published': '2013-04-05T02:45:50Z'},
 {'Comment_Id': 'UgxuhXlOy7xwjaIVzfZ4AaABAg',
  'Video_Id': 'Oo2gKXPwvJk',
  'Comment_text': 'Mast yaar, 4 degree freedom...but it turned me full 360 degree :-)\n',
  'Comment_author': {'channelId': 'UCPyrIv-3woyRXZozX_8UjAQ',
   'videoId': 'Oo2gKXPwvJk',
   'textDisplay': 'Mast yaar, 4 degree freedom...but it turned me full 360 degree :-)\n',
   'textOriginal': 'Mast yaar, 4 degree freedom...but it turned me full 360 degree :-)\n',
   'authorDisplayName': '@smitabernadett',
   'authorProfileImageUrl': 'https://yt3.ggpht.com/ytc/AIdro_kLMeTZwV9uXenDkHq4tMoKqHq4J1-3D3bGhjUXIhGxpg=s48-c-k-c0x00ffffff-no-rj',
   'authorChannelUrl': 'http://www.youtube.com/@smitabernadett',
   'authorChannelId': {'value': 'UCX8yT3n91sPM2al5H-chLKg'},
   'canRate': True,
   'viewerRating': 'none',
   'likeCount': 0,
   'publishedAt': '2012-02-23T14:12:30Z',
   'updatedAt': '1970-01-01T00:00:00Z'},
  'Comment_published': '2012-02-23T14:12:30Z'},
 {'Comment_Id': 'UgxaCrnsUr3mmtk642F4AaABAg',
  'Video_Id': 'Strsql7gFCA',
  'Comment_text': 'Wow love this song man\n',
  'Comment_author': {'channelId': 'UCPyrIv-3woyRXZozX_8UjAQ',
   'videoId': 'Strsql7gFCA',
   'textDisplay': 'Wow love this song man\n',
   'textOriginal': 'Wow love this song man\n',
   'authorDisplayName': '@java8',
   'authorProfileImageUrl': 'https://yt3.ggpht.com/ytc/AIdro_l8TOGvm-FAKc8bPrZYAEKriQxUzKRkW_jJfXSRiyho4w=s48-c-k-c0x00ffffff-no-rj',
   'authorChannelUrl': 'http://www.youtube.com/@java8',
   'authorChannelId': {'value': 'UC0vzHJkMM6y13kRbZ8TOneg'},
   'canRate': True,
   'viewerRating': 'none',
   'likeCount': 0,
   'publishedAt': '2012-02-27T01:20:20Z',
   'updatedAt': '1970-01-01T00:00:00Z'},
  'Comment_published': '2012-02-27T01:20:20Z'},
 {'Comment_Id': 'UgxaCrnsUr3mmtk642F4AaABAg',
  'Video_Id': 'Strsql7gFCA',
  'Comment_text': 'Wow love this song man\n',
  'Comment_author': {'channelId': 'UCPyrIv-3woyRXZozX_8UjAQ',
   'videoId': 'Strsql7gFCA',
   'textDisplay': 'Wow love this song man\n',
   'textOriginal': 'Wow love this song man\n',
   'authorDisplayName': '@java8',
   'authorProfileImageUrl': 'https://yt3.ggpht.com/ytc/AIdro_l8TOGvm-FAKc8bPrZYAEKriQxUzKRkW_jJfXSRiyho4w=s48-c-k-c0x00ffffff-no-rj',
   'authorChannelUrl': 'http://www.youtube.com/@java8',
   'authorChannelId': {'value': 'UC0vzHJkMM6y13kRbZ8TOneg'},
   'canRate': True,
   'viewerRating': 'none',
   'likeCount': 0,
   'publishedAt': '2012-02-27T01:20:20Z',
   'updatedAt': '1970-01-01T00:00:00Z'},
  'Comment_published': '2012-02-27T01:20:20Z'},
 {'Comment_Id': 'UgxaCrnsUr3mmtk642F4AaABAg',
  'Video_Id': 'Strsql7gFCA',
  'Comment_text': 'Wow love this song man\n',
  'Comment_author': {'channelId': 'UCPyrIv-3woyRXZozX_8UjAQ',
   'videoId': 'Strsql7gFCA',
   'textDisplay': 'Wow love this song man\n',
   'textOriginal': 'Wow love this song man\n',
   'authorDisplayName': '@java8',
   'authorProfileImageUrl': 'https://yt3.ggpht.com/ytc/AIdro_l8TOGvm-FAKc8bPrZYAEKriQxUzKRkW_jJfXSRiyho4w=s48-c-k-c0x00ffffff-no-rj',
   'authorChannelUrl': 'http://www.youtube.com/@java8',
   'authorChannelId': {'value': 'UC0vzHJkMM6y13kRbZ8TOneg'},
   'canRate': True,
   'viewerRating': 'none',
   'likeCount': 0,
   'publishedAt': '2012-02-27T01:20:20Z',
   'updatedAt': '1970-01-01T00:00:00Z'},
  'Comment_published': '2012-02-27T01:20:20Z'},
 {'Comment_Id': 'UgwOwyFUpcb3m_4io7x4AaABAg',
  'Video_Id': 'DSO5sbiS9I8',
  'Comment_text': 'Thanx smita',
  'Comment_author': {'channelId': 'UCPyrIv-3woyRXZozX_8UjAQ',
   'videoId': 'DSO5sbiS9I8',
   'textDisplay': 'Thanx smita',
   'textOriginal': 'Thanx smita',
   'authorDisplayName': '@4degreesoffreedom',
   'authorProfileImageUrl': 'https://yt3.ggpht.com/ytc/AIdro_kpOidYzHhv0_Yi1G4UZ8-Oe69y5Q1KY3ILc0_qC5Ttkk8=s48-c-k-c0x00ffffff-no-rj',
   'authorChannelUrl': 'http://www.youtube.com/@4degreesoffreedom',
   'authorChannelId': {'value': 'UCPyrIv-3woyRXZozX_8UjAQ'},
   'canRate': True,
   'viewerRating': 'none',
   'likeCount': 0,
   'publishedAt': '2012-02-23T18:26:11Z',
   'updatedAt': '1970-01-01T00:00:00Z'},
  'Comment_published': '2012-02-23T18:26:11Z'},
 {'Comment_Id': 'UgwOwyFUpcb3m_4io7x4AaABAg',
  'Video_Id': 'DSO5sbiS9I8',
  'Comment_text': 'Thanx smita',
  'Comment_author': {'channelId': 'UCPyrIv-3woyRXZozX_8UjAQ',
   'videoId': 'DSO5sbiS9I8',
   'textDisplay': 'Thanx smita',
   'textOriginal': 'Thanx smita',
   'authorDisplayName': '@4degreesoffreedom',
   'authorProfileImageUrl': 'https://yt3.ggpht.com/ytc/AIdro_kpOidYzHhv0_Yi1G4UZ8-Oe69y5Q1KY3ILc0_qC5Ttkk8=s48-c-k-c0x00ffffff-no-rj',
   'authorChannelUrl': 'http://www.youtube.com/@4degreesoffreedom',
   'authorChannelId': {'value': 'UCPyrIv-3woyRXZozX_8UjAQ'},
   'canRate': True,
   'viewerRating': 'none',
   'likeCount': 0,
   'publishedAt': '2012-02-23T18:26:11Z',
   'updatedAt': '1970-01-01T00:00:00Z'},
  'Comment_published': '2012-02-23T18:26:11Z'},
 {'Comment_Id': 'UgyYnOli7DV44YfczUZ4AaABAg',
  'Video_Id': 'pHoWD8nY0SE',
  'Comment_text': 'Serch 4 us on facebuk n stay updated! Thanx 4 likng our songs!',
  'Comment_author': {'channelId': 'UCPyrIv-3woyRXZozX_8UjAQ',
   'videoId': 'pHoWD8nY0SE',
   'textDisplay': 'Serch 4 us on facebuk n stay updated! Thanx 4 likng our songs!',
   'textOriginal': 'Serch 4 us on facebuk n stay updated! Thanx 4 likng our songs!',
   'authorDisplayName': '@4degreesoffreedom',
   'authorProfileImageUrl': 'https://yt3.ggpht.com/ytc/AIdro_kpOidYzHhv0_Yi1G4UZ8-Oe69y5Q1KY3ILc0_qC5Ttkk8=s48-c-k-c0x00ffffff-no-rj',
   'authorChannelUrl': 'http://www.youtube.com/@4degreesoffreedom',
   'authorChannelId': {'value': 'UCPyrIv-3woyRXZozX_8UjAQ'},
   'canRate': True,
   'viewerRating': 'none',
   'likeCount': 0,
   'publishedAt': '2012-02-23T18:12:16Z',
   'updatedAt': '1970-01-01T00:00:00Z'},
  'Comment_published': '2012-02-23T18:12:16Z'},
 {'Comment_Id': 'UgyYnOli7DV44YfczUZ4AaABAg',
  'Video_Id': 'pHoWD8nY0SE',
  'Comment_text': 'Serch 4 us on facebuk n stay updated! Thanx 4 likng our songs!',
  'Comment_author': {'channelId': 'UCPyrIv-3woyRXZozX_8UjAQ',
   'videoId': 'pHoWD8nY0SE',
   'textDisplay': 'Serch 4 us on facebuk n stay updated! Thanx 4 likng our songs!',
   'textOriginal': 'Serch 4 us on facebuk n stay updated! Thanx 4 likng our songs!',
   'authorDisplayName': '@4degreesoffreedom',
   'authorProfileImageUrl': 'https://yt3.ggpht.com/ytc/AIdro_kpOidYzHhv0_Yi1G4UZ8-Oe69y5Q1KY3ILc0_qC5Ttkk8=s48-c-k-c0x00ffffff-no-rj',
   'authorChannelUrl': 'http://www.youtube.com/@4degreesoffreedom',
   'authorChannelId': {'value': 'UCPyrIv-3woyRXZozX_8UjAQ'},
   'canRate': True,
   'viewerRating': 'none',
   'likeCount': 0,
   'publishedAt': '2012-02-23T18:12:16Z',
   'updatedAt': '1970-01-01T00:00:00Z'},
  'Comment_published': '2012-02-23T18:12:16Z'},
 {'Comment_Id': 'UgyfAp3RbPWC-xHtI2B4AaABAg',
  'Video_Id': 'YH1OxkAIFns',
  'Comment_text': 'D SOUND QUALITY IS FUKD UP BUT STILL U LL LUV IT!!!!!',
  'Comment_author': {'channelId': 'UCPyrIv-3woyRXZozX_8UjAQ',
   'videoId': 'YH1OxkAIFns',
   'textDisplay': 'D SOUND QUALITY IS FUKD UP BUT STILL U LL LUV IT!!!!!',
   'textOriginal': 'D SOUND QUALITY IS FUKD UP BUT STILL U LL LUV IT!!!!!',
   'authorDisplayName': '@4degreesoffreedom',
   'authorProfileImageUrl': 'https://yt3.ggpht.com/ytc/AIdro_kpOidYzHhv0_Yi1G4UZ8-Oe69y5Q1KY3ILc0_qC5Ttkk8=s48-c-k-c0x00ffffff-no-rj',
   'authorChannelUrl': 'http://www.youtube.com/@4degreesoffreedom',
   'authorChannelId': {'value': 'UCPyrIv-3woyRXZozX_8UjAQ'},
   'canRate': True,
   'viewerRating': 'none',
   'likeCount': 0,
   'publishedAt': '2012-02-06T06:23:44Z',
   'updatedAt': '1970-01-01T00:00:00Z'},
  'Comment_published': '2012-02-06T06:23:44Z'}]

In [64]:
#get playlist details
def get_playlist_info(channel_ids):
        next_page_token = None
        All_data = []
        while True:
                request = youtube.playlists().list(
                        part = "snippet,contentDetails",
                        channelId = channel_ids,
                        maxResults = 50,
                        pageToken = next_page_token
                    )

                response = request.execute()

                for item in response['items']:
                        data = dict(Playlist_Id = item['id'],
                                    Title = item['snippet']['title'],
                                    Channel_Id = item['snippet']['channelId'],
                                    Channel_Name = item['snippet']['channelTitle'],
                                    PublishedAt = item['snippet']['publishedAt'],
                                    Video_Count = item['contentDetails']['itemCount'])
                        All_data.append(data)

                next_page_token = response.get('nextPageToken')

                if next_page_token is None:
                    break
        return All_data

In [65]:
playlist_details = get_playlist_info("UCoC4TYHD1zDUYGmY59_5LCQ")

In [66]:
playlist_details

[{'Playlist_Id': 'PL7KrmHsMbH61lWxyMdg1XIfUvEbamFZ20',
  'Title': 'Blacksheep Nagpuri playlist',
  'Channel_Id': 'UCoC4TYHD1zDUYGmY59_5LCQ',
  'Channel_Name': 'BlackSheep Productions, Ranchi',
  'PublishedAt': '2023-09-13T05:20:42Z',
  'Video_Count': 14},
 {'Playlist_Id': 'PL7KrmHsMbH62rYyynYsnP6EGdDjIWS7It',
  'Title': 'BEHIND THE SCENES',
  'Channel_Id': 'UCoC4TYHD1zDUYGmY59_5LCQ',
  'Channel_Name': 'BlackSheep Productions, Ranchi',
  'PublishedAt': '2021-07-11T06:33:41Z',
  'Video_Count': 3}]

In [67]:
# creat a clinent instance for MongoDB connection 
conn_str = "mongodb+srv://virenemmanuel:roomno13@cluster0.e6ecnpv.mongodb.net/project1?retryWrites=true&w=majority"
client = pymongo.MongoClient(conn_str)

#create a database or use existing one
db = client["Youtube_data"]

c:\Users\viren\anaconda3\Lib\site-packages\cryptography\x509\base.py:594: CryptographyDeprecationWarning: Parsed a negative serial number, which is disallowed by RFC 5280.
  return rust_x509.load_der_x509_certificate(data)

In [68]:

#create function to upload to MongoDB
def channel_details(channel_id):
    ch_details = get_channel_info(channel_id)
    pl_details = get_playlist_info(channel_id)
    vi_ids = get_videos_ids(channel_id)
    vi_details = get_video_info(vi_ids)
    com_details =get_comment_info(vi_ids)

    coll1=db["channel_details"]
    coll1.insert_one({"channel_information":ch_details,"playlist_information":pl_details,
                      "video_information":vi_details,"comment_information":com_details})
    
    return "upload completed successfully"

In [69]:
#              'UCPyrIv-3woyRXZozX_8UjAQ',   # 4 degrees of freedom
#              'UCtGrdfezQuXjdBek3Zv8bdg',   # Vanilla Chords
#              'UCmnlTWVJysjWPFiZhQ5uudg',   # Marty Music
#              'UCW3VuTWsyPWvT8fbyGrVpAQ',   # Kumar Shyam
#              'UCRBHXgLP8DbAAHfOYN_J4nw',   # Wanderlust ANuj
#              'UCwVEhEzsjLym_u1he4XWFkg',   # Finance With Sharan
#              'UCoC4TYHD1zDUYGmY59_5LCQ',   # BlackSheep Productions
#              'UCSXa6jwF7pvL-qVdS1OnytA',   # Specxy Panda Bakes
#              'UCMwu5UL4nfp7upkIdr0dtWg'    # Gustavo carmo

In [70]:
insert = channel_details("UCtGrdfezQuXjdBek3Zv8bdg")

In [71]:
# Table creation for channels,playlists,videos,comments
def channels_table():
    mydb = psycopg2.connect(host = "localhost",
                            user = "postgres",
                            password = "roomno13",
                            database = "youtube_data",
                            port = "5432")

    cursor = mydb.cursor()

    drop_query = "drop table if exists playlists"
    cursor.execute(drop_query)
    mydb.commit()

    try:
        create_query = '''create table if not exists channels( Channel_Name varchar(100),
                                                               Channel_Id varchar(80) primary key,
                                                               Subscribers_Count bigint,
                                                               Views bigint,                     
                                                               Total_videos int,
                                                               Channel_Discription text,
                                                               Playlist_Id varchar(80))'''
        
        cursor.execute(create_query)
        mydb.commit()

    except:
        st.write("Channels table already created")


    ch_list = []
    db = client["youtube_data"]
    coll1 = db["channel_details"]
    for ch_data in coll1.find({},{"_id":0,"channel_information": 1}):
        ch_list.append(ch_data["channel_information"])
    df = pd.DataFrame(ch_list)

    for index, row in df.iterrows():
        insert_query = '''INSERT into channels( Channel_Name,
                                                Channel_Id,
                                                Subscription_Count,
                                                Views,
                                                Total_Videos,
                                                Channel_Discription,
                                                Playlist_Id)
                                                VALUES(%s,%s,%s,%s,%s,%s,%s)'''
        
        values = (row['Channels_Name'],
                  row['Channel_Id'],
                  row['Subscription_Count'],
                  row['Views'],
                  row['Total_Videos'],
                  row['Channel_Description'],
                  row['Playlist_Id'])
        try:
            cursor.execute(insert_query,values)
            mydb.commit()
        except:
            st.write("Channels values are already inserted")

channels_table()

In [72]:
def playlist_table():
    mydb = psycopg2.connect(host="localhost",
            user = "postgres",
            password = "roomno13",
            database = "youtube_data",
            port = "5432")    
    cursor = mydb.cursor()  



    drop_query = "drop table if exists playlists"
    cursor.execute(drop_query)
    mydb.commit()

    try:
        create_query = '''create table if not exists playlists( PlaylistId varchar(100) primary key,
                                                                Title varchar(80),
                                                                ChannelId varchar(100),
                                                                ChannelName varchar(100),
                                                                PublishedAt timestamp,
                                                                Video_Count int) '''
        cursor.execute(create_query)
        mydb.commit()

    except:
        st.write("playlists Table already created")

    db = client["yputube_data"]
    coll1 = db["channel_details"]
    pl_list = []
    for pl_data in coll1.find({},{"_id":0,"playlist_information":1}):
        for i in range(len(pl_data["playlist_information"])):
            pl_list.append(pl_data["plalist_information"][i])
    df = pd.DataFrame(pl_list)

    for index,row in df.iterrows():
        insert_query = '''INSERT into playlists(PlaylistId,
                                                Title,
                                                ChannelId,
                                                ChannelName,
                                                PublishedAt,
                                                Video_Count)
                                        VALUES(%s,%s,%s,%s,%s,%s)'''
        values = ( row['PlaylistId'],
                   row['Title'],
                   row['ChannelId'],
                   row['channelname'],
                   row['PublishedAt'],
                   row['Video_Count'])
        
        # try:
        cursor.execute(insert_query,values)
        mydb.commit()
        # except:
        #     st.write("playlists values are already inserted")
        

playlist_table()

In [73]:
def videos_table():
    mydb = psycopg2.connect(host="localhost",
                            user="postgres",
                            password="roomno13",
                            database="youtube_data",
                            port="5432")
    cursor = mydb.cursor()

    drop_query = "DROP TABLE IF EXISTS videos"
    cursor.execute(drop_query)
    mydb.commit()

    create_query = '''CREATE TABLE IF NOT EXISTS videos(Channel_Name varchar(100),
                                                        Channel_Id varchar(100),
                                                        Video_Id varchar(30) primary key,
                                                        Title varchar(150),
                                                        Tags text,
                                                        Thumbnail varchar(200),
                                                        Description text,
                                                        Published_Date timestamp,
                                                        Duration interval,
                                                        Views bigint,
                                                        Comments int, 
                                                        likes bigint,
                                                        Favorite_Count int,
                                                        Definition varchar(10),
                                                        Caption_Status varchar(50) 
                                                        )'''
    
    cursor.execute(create_query)
    mydb.commit()

    vi_list = []
    db = client["Youtube_data"]
    coll1 = db["channel_details"]
    for vi_data in coll1.find({}, {"_id": 0, "video_information": 1}):
        for i in range(len(vi_data["video_information"])):
            vi_list.append(vi_data["video_information"][i])
    df = pd.DataFrame(vi_list)

  
    for index,row in df.iterrows():                
        insert_query = '''INSERT INTO videos( Channel_Name,
                                              Channel_Id,
                                              Video_Id,
                                              Title,
                                              Tags,
                                              Thumbnail,
                                              Description,
                                              Published_Date,
                                              Duration,
                                              Views,
                                              Comments, 
                                              likes,
                                              Favorite_Count,
                                              Definition,
                                              Caption_Status)

                            VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
                            ON CONFLICT (Video_Id) DO NOTHING'''

        values = (row["Channel_Name"],
                  row["Channel_Id"],
                  row["Video_Id"],
                  row["Title"],
                  row["Tags"],
                  row["Thumbnail"],
                  row["Description"],
                  row["Published_Date"],
                  row["Duration"],
                  row["Views"],
                  row["Comments"],
                  row["likes"],
                  row["Favorite_Count"],
                  row["Definition"],
                  row["Caption_Status"],

                  )

 
        cursor.execute(insert_query, values)
        mydb.commit()
    

videos_table()

In [74]:


def comment_table():
    mydb = psycopg2.connect(
        host="localhost",
        user="postgres",
        password="roomno13",
        database="youtube_data",
        port="5432"
    )
    cursor = mydb.cursor()

    drop_query = "DROP TABLE IF EXISTS comments"
    cursor.execute(drop_query)
    mydb.commit()

   
    create_query = '''CREATE TABLE IF NOT EXISTS comments(Comment_Id varchar(100) primary key,
                                                          Video_Id varchar(80),
                                                          Comment_Text text,
                                                          Comment_Author varchar(150),
                                                          Comment_Published timestamp
                                                            )'''
    cursor.execute(create_query)
    mydb.commit()



    com_list = []  # Assuming this is defined elsewhere
    # Assuming `client` is defined elsewhere for MongoDB
    db = client["Youtube_data"]
    coll1 = db["channel_details"]
    for com_data in coll1.find({}, {"_id": 0,"comment_information": 1}):
        for i in range(len(com_data["comment_information"])):
            com_list.append(com_data["comment_information"][i])
    df3 = pd.DataFrame(com_list)

    for index, row in df3.iterrows():
        insert_query = '''INSERT INTO comments( Comment_Id,
                                                Video_Id,
                                                Comment_Text,
                                                Comment_Author,
                                                Comment_Published)
                                                VALUES (%s,%s,%s,%s,%s)
                                                ON CONFLICT (Comment_Id) DO NOTHING'''
        values = (
            row['Comment_Id'],
            row['Video_Id'],
            row.get('Comment_Text'),
            row.get('Comment_Author'),
            row.get('Comment_Published'),
                 )
        
        cursor.execute(insert_query,values)
        mydb.commit()
  
comment_table()

In [75]:
def tables():
    try:
        channels_table()
        playlist_table()
        videos_table()
        comment_table()
    except:

          return "Tables Created successfully"

In [76]:
Tables = tables()

In [77]:
Tables

In [78]:
# create function for creating tables



def show_channels_table():
    ch_list = []
    db = client["Youtube_data"]
    coll1 = db["channel_details"]
    for ch_data in coll1.find({},{"_id":0,"channel_information":1}):
        ch_list.append(ch_data["channel_information"])
    channels_table = st.dataframe(ch_list)
    return channels_table

def show_playlists_table():
    pl_list = []
    db = client["Youtube_data"]
    coll1 = db["channels_details"]
    for pl_data in coll1.find({},{"_id":0,"playlist_information":1}):
        for i in range(len(pl_data["playlist_information"])):
            pl_list.append(pl_data["playlist_information"][i])
    playlist_table = st.dataframe(pl_list)
    return playlist_table

def show_videos_table():
    vi_list = []
    db = client["Youtube_data"]
    coll2 = db["channel_details"]
    for vi_data in coll2.find({},{"_id":0,"video_information":1}):
        for i in range(len(vi_data["video_information"])):
            vi_list.append(vi_data["video_information"][i])
    videos_table = st.dataframe(vi_list)
    return videos_table

def show_comments_table():
    com_list = []
    db = client["Youtube_data"]
    coll3 = db["channel_details"]
    for com_data in coll3.find({},{"_id":0,"comment_information":1}):
        for i in range(len(com_data["comment_information"])):
            com_list.append(com_data["comment_information"][i])
    comment_table = st.dataframe(com_list)
    return comment_table

In [79]:
with st.sidebar:
    st.title(":red[YOUTUBE DATA HARVESTING AND WAREHOUSING]")
    st.header("SKILL USED ")
    st.caption("Python scripting")
    st.caption("Data Collection")
    st.caption("MongoDB")
    st.caption("API Integration")
    st.caption("Data Management Using MongoDB and SQL")

channel_id = st.text_input("Enter the Channel Id here")

# channels = channel_id.split(',')
# channels = [ch.strip() for ch in channels if ch]

if st.button("Collect and Store data"):
    
    ch_ids = []
    db = client["Youtube_data"]
    coll1 = db["channel_details"]
    for ch_data in coll1.find({},{"_id":0,"channel_information":1}):
        ch_ids.append(ch_data["channel_information"]["channel_Id"])

    if channel_id in ch_ids:
        st.success("Channel details of the given channel id: " + channel_id + " already exists")

    else:
        output = channel_details(channel_id)
        st.success(output)

if st.button("Migrate to SQL"):
    display = tables()
    st.success(display)

show_table = st.radio("SELECT THE TABLE FOR VIEW",(":green[channels]",":orange[playlists]",":red[videos]",":blue[comments]"))


if show_table == ":green[channels]":
    show_channels_table()

elif show_table == ":orange[playlists]":
    show_playlists_table()

elif show_table == ":red[videos]":
    show_videos_table()

elif show_table == ":blue[comments]":
    show_comments_table()

In [80]:
# FOR SQL CONNECTION

mydb = psycopg2.connect(host="localhost",
                            user = "postgres",
                            password = "roomno13",
                            database = "youtube_data",
                            port = "5432")
cursor = mydb.cursor()

question = st.selectbox(
    'Please Select your Question',
    ('1. What are the names of all the videos and their corresponding channels?',
     '2. Which channels have the most number of videos, and how many videos do they have?',
     '3. What are the top 10 most viewed videos and their respective channels?',
     '4. How many comments were made on each video, and what are their corresponding video names?',
     '5. Which videos have the highest number of likes, and what are theircorresponding channel names?',
     '6. What is the total number of likes and dislikes for each video, and what aretheir corresponding video names?',
     '7. What is the total number of views for each channel, and what are their corresponding channel names?',
     '8. What are the names of all the channels that have published videos in the year 2022?',
     '9. What is the average duration of all videos in each channel, and what are their corresponding channel names?',
     '10. Which videos have the highest number of comments, and what are their corresponding channel names?'))



if question == '1. What are the names of all the videos and their corresponding channels':
    query1 = "SELECT title AS videos,channel_name as channelname from videos;"
    cursor.execute(query1)
    mydb.commit()
    t1 = cursor.fetchall()
    df = pd.DataFrame(t1,columns=["video title","channel name"])
    st.write(df)
    


elif question == '2.Which channels have the most number of videos, and how many videos do they have?':
    query2 = "select Channel_Name as Channel Name,Total_Videos as No of Videos from channels order by Total_Videos desc;"
    cursor.execute(query2)
    mydb.commit()
    t2=cursor.fetchall()
    df2 = pd.DataFrame(t2, columns=["Channel Name","No Of Videos"])
    st.write(df2)

elif question == '3.What are the top 10 most viewed videos and their respective channels?':
    query3 = '''select Views as views , Channel_Name as Channel Name,Title as Video Title from videos 
                        where Views is not null order by Views desc limit 10;'''
    cursor.execute(query3)
    mydb.commit()
    t3 = cursor.fetchall()
    df3 = pd.DataFrame(t3, columns = ["views","Channel Name","Video title"])
    st.write(df3)

elif question == '4. How many comments were made on each video, and what are their corresponding video names?':
    query4 = "select Comments as No_comments ,Title as VideoTitle from videos where Comments is not null;"
    cursor.execute(query4)
    mydb.commit()
    t4=cursor.fetchall()
    df4=pd.DataFrame(t4, columns=["No Of Comments", "Video Title"])
    st.write(df4)

elif question == '5. Which videos have the highest number of likes, and what are theircorresponding channel names?':
    query5 = '''select Title as VideoTitle, Channel_Name as ChannelName, Likes as LikesCount from videos 
                       where Likes is not null order by Likes desc;'''
    cursor.execute(query5)
    mydb.commit()
    t5 = cursor.fetchall()
    df5=pd.DataFrame(t5, columns=["video Title","channel Name","like count"])
    st.write(df5)

elif question == '6. What is the total number of likes and dislikes for each video, and what aretheir corresponding video names?':
    query6 = '''select Likes as likeCount,Title as VideoTitle from videos;'''
    cursor.execute(query6)
    mydb.commit()
    t6 = cursor.fetchall()
    df6=pd.DataFrame(t6, columns=["like count","video title"])
    st.write(df6)

elif question == '7. What is the total number of views for each channel, and what are their corresponding channel names?':
    query7 = "select Channel_Name as ChannelName, Views as Channelviews from channels;"
    cursor.execute(query7)
    mydb.commit()
    t7=cursor.fetchall()
    df7=pd.DataFrame(t7, columns=["channel name","total views"])
    st.write(df7)

elif question == '8. What are the names of all the channels that have published videos in the year 2022?':
    query8 = '''select Title as Video_Title, Published_Date as VideoRelease, Channel_Name as ChannelName from videos 
                where extract(year from Published_Date) = 2022;'''
    cursor.execute(query8)
    mydb.commit()
    t8=cursor.fetchall()
    df8=pd.DataFrame(t8,columns=["Name", "Video Publised On", "ChannelName"])
    st.write(df8)

elif question == '9. What is the average duration of all videos in each channel, and what are their corresponding channel names?':
    query9 =  "SELECT Channel_Name as channelname, AVG(Duration) AS average_duration FROM videos GROUP BY Channel_Name;"
    cursor.execute(query9)
    mydb.commit()
    t9=cursor.fetchall()
    df9 = pd.DataFrame(t9, columns=['channel name', 'average_duration'])
    df9

    T9 = []
    for index,row in df9.iterrows():
        channel_title=row["channel name"]
        average_duration=row["average_duration"]
        average_duration_str=str(average_duration)
        T9.append(dict(channeltitle=channel_title,averageduration=average_duration_str))
    df1=pd.DataFrame(T9)
    st.write(df1)

elif question == '10. Which videos have the highest number of comments, and what are their corresponding channel names?':
    query10 = '''select Title as VideoTitle, Channel_Name as ChannelName, Comments as Comments from videos 
                       where Comments is not null order by Comments desc;'''
    cursor.execute(query10)
    mydb.commit()
    t10=cursor.fetchall()
    df10=pd.DataFrame(t10, columns=['Video Title', 'Channel Name', 'NO Of Comments'])
    st.write(df10)

In [86]:

mydb = psycopg2.connect(host="localhost",
                            user = "postgres",
                            password = "roomno13",
                            database = "youtube_data",
                            port = "5432")
cursor = mydb.cursor()

# if question == '1. What are the names of all the videos and their corresponding channels':
query1 = "SELECT title AS videos,channel_name as channelname from videos;"
cursor.execute(query1)
mydb.commit()
t1 = cursor.fetchall()
df = pd.DataFrame(t1,columns=["video title","channel name"])
# st.write(df1)
df

,video title,channel name
0,black sheep - new skies | canon 6d 50mm f/1.8 ...,"BlackSheep Productions, Ranchi"
1,Gustavo Carmo - Hundreds of Thousands (Tony Ma...,Gustavo Carmo
2,What's Up - 4 Non Blondes | Chords and Lyrics,Vanilla Chords
3,"My first Vlog, Parasnath hill by bike, Ramgarh...",Wanderlust ANuj
4,4 DEGREES OF FREEDOM PHOTO SYNC.wmv,4degreesoffreedom
5,Watermelon Slush&Mojito | |,Specxy Panda Bakes

In [89]:
# elif question == '2.Which channels have the most number of videos, and how many videos do they have?':
mydb = psycopg2.connect(host="localhost",
                            user = "postgres",
                            password = "roomno13",
                            database = "youtube_data",
                            port = "5432")
cursor = mydb.cursor()

query2 = "select channel_name as channelname,total_videos as no_videos from channels order by total_videos desc;"
cursor.execute(query2)
mydb.commit()
t2=cursor.fetchall()
df2 = pd.DataFrame(t2, columns=["channel_name","No of videos"])
# st.write(pd.DataFrame(t2, columns=["Channel Name","No Of Videos"]))
df2

Empty DataFrame
Columns: [channel_name, No of videos]
Index: []

In [92]:
mydb = psycopg2.connect(host="localhost",
                            user = "postgres",
                            password = "roomno13",
                            database = "youtube_data",
                            port = "5432")
cursor = mydb.cursor()

query3 = '''select Views as views , Channel_Name as channelname,Title as VideoTitle from videos 
                    where Views is not null order by Views desc limit 10;'''
cursor.execute(query3)
mydb.commit()
t3 = cursor.fetchall()
df3 = pd.DataFrame(t3, columns = ["views","Channel Name","Video title"])
df3

,views,Channel Name,Video title
0,107776,Gustavo Carmo,Gustavo Carmo - Hundreds of Thousands (Tony Ma...
1,52139,Finance With Sharan,Before You Start Investing in Debt Mutual Fund...
2,12381,Vanilla Chords,What's Up - 4 Non Blondes | Chords and Lyrics
3,12381,Vanilla Chords,What's Up - 4 Non Blondes | Chords and Lyrics
4,12354,Vanilla Chords,What's Up - 4 Non Blondes | Chords and Lyrics
5,12354,Vanilla Chords,What's Up - 4 Non Blondes | Chords and Lyrics
6,12354,Vanilla Chords,What's Up - 4 Non Blondes | Chords and Lyrics
7,5006,Wanderlust ANuj,"My first Vlog, Parasnath hill by bike, Ramgarh..."
8,5006,Wanderlust ANuj,"My first Vlog, Parasnath hill by bike, Ramgarh..."
9,4926,"BlackSheep Productions, Ranchi",black sheep - new skies | canon 6d 50mm f/1.8 ...

In [93]:
mydb = psycopg2.connect(host="localhost",
                            user = "postgres",
                            password = "roomno13",
                            database = "youtube_data",
                            port = "5432")
cursor = mydb.cursor()

query4 = "select Comments as No_comments ,Title as VideoTitle from videos where Comments is not null;"
cursor.execute(query4)
mydb.commit()
t4=cursor.fetchall()
df4=pd.DataFrame(t4, columns=["No Of Comments", "Video Title"])
df4

Empty DataFrame
Columns: [No Of Comments, Video Title]
Index: []

In [94]:
mydb = psycopg2.connect(host="localhost",
                            user = "postgres",
                            password = "roomno13",
                            database = "youtube_data",
                            port = "5432")
cursor = mydb.cursor()

query5 = '''select Title as VideoTitle, Channel_Name as ChannelName, Likes as LikesCount from videos 
                where Likes is not null order by Likes desc;'''
cursor.execute(query5)
mydb.commit()
t5 = cursor.fetchall()
df5=pd.DataFrame(t5, columns=["video Title","channel Name","like count"])
df5

,video Title,channel Name,like count
0,Before You Start Investing in Debt Mutual Fund...,Finance With Sharan,2214
1,Gustavo Carmo - Hundreds of Thousands (Tony Ma...,Gustavo Carmo,697
2,"My first Vlog, Parasnath hill by bike, Ramgarh...",Wanderlust ANuj,217
3,"My first Vlog, Parasnath hill by bike, Ramgarh...",Wanderlust ANuj,217
4,What's Up - 4 Non Blondes | Chords and Lyrics,Vanilla Chords,133
5,What's Up - 4 Non Blondes | Chords and Lyrics,Vanilla Chords,133
6,What's Up - 4 Non Blondes | Chords and Lyrics,Vanilla Chords,133
7,What's Up - 4 Non Blondes | Chords and Lyrics,Vanilla Chords,133
8,What's Up - 4 Non Blondes | Chords and Lyrics,Vanilla Chords,133
9,black sheep - new skies | canon 6d 50mm f/1.8 ...,"BlackSheep Productions, Ranchi",81
10,Watermelon Slush&Mojito | |,Specxy Panda Bakes,12
11,4 DEGREES OF FREEDOM PHOTO SYNC.wmv,4degreesoffreedom,7

In [100]:
mydb = psycopg2.connect(host="localhost",
                            user = "postgres",
                            password = "roomno13",
                            database = "youtube_data",
                            port = "5432")
cursor = mydb.cursor()

query6 = '''select Likes as likeCount,Title as VideoTitle from videos;'''
cursor.execute(query6)
mydb.commit()
t6 = cursor.fetchall()
df6=pd.DataFrame(t6, columns=["like count","video title"])
df6

    like count                                        video title
0           81  black sheep - new skies | canon 6d 50mm f/1.8 ...
1          697  Gustavo Carmo - Hundreds of Thousands (Tony Ma...
2          133      What's Up - 4 Non Blondes | Chords and Lyrics
3          133      What's Up - 4 Non Blondes | Chords and Lyrics
4          217  My first Vlog, Parasnath hill by bike, Ramgarh...
5            7                4 DEGREES OF FREEDOM PHOTO SYNC.wmv
6           12   Watermelon Slush&Mojito |     |
7          133      What's Up - 4 Non Blondes | Chords and Lyrics
8          133      What's Up - 4 Non Blondes | Chords and Lyrics
9          133      What's Up - 4 Non Blondes | Chords and Lyrics
10         217  My first Vlog, Parasnath hill by bike, Ramgarh...
11        2214  Before You Start Investing in Debt Mutual Fund...

In [113]:
mydb = psycopg2.connect(host="localhost",
                            user = "postgres",
                            password = "roomno13",
                            database = "youtube_data",
                            port = "5432")
cursor = mydb.cursor()

query7 = "select channel_name as channelname, views as totalviews from channels;"
cursor.execute(query7)
mydb.commit()
t7=cursor.fetchall()
df7=pd.DataFrame(t7, columns=["channel name","total views"])
df7

Empty DataFrame
Columns: [channel name, total views]
Index: []

In [101]:
mydb = psycopg2.connect(host="localhost",
                            user = "postgres",
                            password = "roomno13",
                            database = "youtube_data",
                            port = "5432")
cursor = mydb.cursor()

query7 = "select Channel_Name as ChannelName, Views as Channelviews from channels;"
cursor.execute(query7)
mydb.commit()
t7=cursor.fetchall()
df8=pd.DataFrame(t7, columns=["channel name","total views"])
df8

Empty DataFrame
Columns: [channel name, total views]
Index: []

In [112]:
mydb = psycopg2.connect(host="localhost",
                            user = "postgres",
                            password = "roomno13",
                            database = "youtube_data",
                            port = "5432")
cursor = mydb.cursor()

query8 = '''select Title as video_title, published_date as videorelease, channel_name as channelname from videos 
            where extract(year from Published_Date) = 2022;'''
cursor.execute(query8)
mydb.commit()
t8=cursor.fetchall()
df8=pd.DataFrame(t8,columns=["videotitle","Published_date","channelname"])
df8

Empty DataFrame
Columns: [videotitle, Published_date, channelname]
Index: []

In [125]:
mydb = psycopg2.connect(host="localhost",
                            user = "postgres",
                            password = "roomno13",
                            database = "youtube_data",
                            port = "5432")
cursor = mydb.cursor()

query9 =  "SELECT Channel_Name as channelname, AVG(Duration) AS average_duration FROM videos GROUP BY Channel_Name;"
cursor.execute(query9)
mydb.commit()
t9=cursor.fetchall()
df9 = pd.DataFrame(t9, columns=['channel name', 'average_duration'])
df9

T9 = []
for index,row in df9.iterrows():
    channel_title=row["channel name"]
    average_duration=row["average_duration"]
    average_duration_str=str(average_duration)
    T9.append(dict(channeltitle=channel_title,averageduration=average_duration_str))
df1=pd.DataFrame(T9)

In [126]:
df1

                     channeltitle  averageduration
0                   Gustavo Carmo  0 days 00:03:41
1                  Vanilla Chords  0 days 00:05:21
2  BlackSheep Productions, Ranchi  0 days 00:02:10
3               4degreesoffreedom  0 days 00:02:47
4                 Wanderlust ANuj  0 days 00:12:02
5              Specxy Panda Bakes  0 days 00:03:56
6             Finance With Sharan  0 days 00:11:15

In [110]:
mydb = psycopg2.connect(host="localhost",
                            user = "postgres",
                            password = "roomno13",
                            database = "youtube_data",
                            port = "5432")
cursor = mydb.cursor()

query10 = '''select Title as VideoTitle, Channel_Name as ChannelName, Comments as Comments from videos 
                where Comments is not null order by Comments desc;'''
cursor.execute(query10)
mydb.commit()
t10=cursor.fetchall()
df10=pd.DataFrame(t10, columns=['Video Title', 'Channel Name', 'NO Of Comments'])
df10

Empty DataFrame
Columns: [Video Title, Channel Name, NO Of Comments]
Index: []

In [83]:
# mydb = psycopg2.connect(host="localhost",
#                             user = "postgres",
#                             password = "roomno13",
#                             database = "youtube_data",
#                             port = "5432")
# cursor = mydb.cursor()


# query1 = '''SELECT title AS videos, channel_Name AS ChannelName FROM videos'''
# cursor.execute(query1)
# mydb.commit()
# t1 = cursor.fetchall()
# df = pd.DataFrame(t1, columns=["Videos", "ChannelName"])
# df